*.iml
*.log
.gradle/
.cxx/
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
/out/
magisk/zygisk/*.so
!magisk/zygisk/.gitkeep
*.apk
*.ap_
*.aab
app/release/
keystore.properties
*.jks
*.keystore
